body {
    background-color: #ffffcc;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
