<!-- templates/upload.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Upload de Roteiro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Enviar Roteiro</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Enviar</button>
        </form>
        <div class="sair">
            <a href="/dashboard">Voltar para o Dashboard</a>
        </div>
    </div>
</body>
</html>
