<!-- templates/visualizar.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ nome }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>{{ nome }}</h1>
        <pre style="background:#f9f9f9;padding:20px;border-radius:8px;border:1px solid #ccc;white-space:pre-wrap;">{{ conteudo }}</pre>
        <div class="sair">
            <a href="/dashboard">Voltar para o Dashboard</a>
        </div>
    </div>
</body>
</html>
